{% extends 'base.html.twig' %}

{% block title %}Nouvelle pizza{% endblock %}

{% block body %}
    <h1>Nouvelle pizza</h1>

    {{ include('pizza/_form.html.twig', { 'button_label': 'Créer' }) }}

    <a href="{{ path('pizza_index') }}">Retour à la liste des pizzas</a>
{% endblock %}
