{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('pizza_index') }}">Pizza</a></li>
            <li><a href="{{ path('ingredient_index') }}">Ingredient</a></li>
        </ul>
    </nav>
    <h1>Bienvenue sur la page d'accueil</h1>
{% endblock %}
